<div class="">
  <nav class="navbar navbar-fixed-top grc_navbar">
    <div class="col-md-12 nav_items">
      <div class="grc_navbar_elements" href="/">Contacts</div>
      <div class="grc_navbar_elements" href="/">About</div>
      <div class="grc_navbar_elements" href="/">Service</div>
      <div class="grc_navbar_elements" href="/">Workshop</div>
      <div class="grc_navbar_elements" href="/">Get Started</div>
      <div class="grc_navbar_elements" href="/">Store</div>
      <div class="grc_navbar_elements" href="/">Home</div>
    </div>
  </nav>
</div>
