.jumbotron {
  background-color: white;
}

.title_text {
  float: left;
  position: relative;
  font-family: BrandonRegular;
}

.title_text::after {
  position: absolute;
  content: '';
  width: 85%;
  border-bottom: 1px solid #FF015B;
  border-bottom-width: 0.2em;
  transform: translateX(-50%);
  left: 45%;
  margin-top: 1.8em;
}

.show_more {
  float: right;
  font-family: BrandonRegular;
}

.show_more_txt {
  float: left;
}

.show_more_icon {
  float: right;
  padding-left: 1em;
}
