<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="page-header container-fluid">
        <h3 class="title_text">Workshops</h3>
        <div class="show_more">
          <h6 class="show_more_txt">See All</h6>
          <i class="fa fa-chevron-right show_more_icon" aria-hidden="true"></i>
        </div>
      </div>

    </div>
    <div class="com-md-12 row align-items-center card_block card-deck">
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/DaVinci_Matte_Hand_01_2048x.jpg" alt="Card image cap">
        <div class="card-block">
          item 1
        </div>
      </div>
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/drone-3a.jpg" alt="Card image cap">
        <div class="card-block">
          item 2
        </div>
      </div>
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/drone-nb1f55eu8hegvvmvikhwjz48i6f4vqe0jds2cvkuo0.jpg" alt="Card image cap">
        <div class="card-block">
          item 3
        </div>
      </div>
    </div>
  </div>
</div>
