<div class="container">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="page-header container-fluid">
        <h3 class="title_text">Services</h3>
        <!--<h6 class="show_more">See All</h6>-->
      </div>

      <!--Carousel Indicator Arrows, if needed in the future-->
      <!--<a class="left carousel-control" href="#myCarouselLocation" data-slide="prev" style="background:none !important">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarouselLocation" data-slide="next" style="background:none !important">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>-->

    </div>
    <div class="com-md-12 row align-items-center card_block card-deck">
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/IAEA-drone-03.jpg" alt="Card image cap">
        <div class="card-block">
          item 1
        </div>
      </div>
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/uto-drone-u960-hexacopter.jpg" alt="Card image cap">
        <div class="card-block">
          item 2
        </div>
      </div>
      <div class="col-md-4 card">
        <img class="card-img-top" src="../../assets/images/GettyImages-51398235.jpg" alt="Card image cap">
        <div class="card-block">
          item 3
        </div>
      </div>
    </div>
  </div>
</div>
